
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}

.container {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
}
.logo img {
    width: 100px;
    height: 100px;
}
div.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto 10px auto;
}
.center-text {
    text-align: center;
}

/* Start Navbar */
.navbar {
    background-color: #E6E6E6;
}
.navbar h1 {
    font-size: 24;
    font-weight: 900;
    margin: 0 20px;
}
nav.navbar .navigation a:not(:last-child) {
    color: black;
    margin: 0 20px;
    font-size: 18px;
}
.navbar .logo {
    display: flex;
    flex-direction: row;
    margin: 0 10px;
    align-items: center;
}
.navigation :not(.navbutton):hover{
    border-bottom: solid black;
}
.navbutton {
    width: 105px;
    height: 33px;
    color: white;
    background: #68AEFF;
    padding: 0px 0px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.253);
    margin-right: 40px;
}
.navbutton:hover {
    background-color: #127ee4ad;
}
.navbar .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
button{
    border: none;
    font-size: 18px;
}
/* End of Navbar */

/* Start Masuk */
.masuk{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.672);
}
.masuk-content{
    position: relative;
    width: auto;
    max-width: 576px;
    margin: 50px auto;
}
.masuk.show{
    display: block;
    animation: fade .5s forwards;
}
/* End of Masuk */

/* Start Beranda */
.beranda {
    width: 100%;
    height: 700px;
    background-image: linear-gradient(to right, rgba(104,174,255,1), rgba(196,196,196,0)), url(GAMBAR/Cover\ jamur.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.beranda .gambar video {
    height: 382px;
    width: 468px;
    border-radius: 20px 0;
    
}
.beranda .teks {
    display: flex;
    flex-direction: column;
}
.jamur {
    display: block;
    width: 158px;
    height: 100px;
    margin-left: 170px;

    bottom: -50px;
}
.jamur .hidden{
    display: none;
}
.beranda a {
    padding: 6px 40px;
    border-radius: 15px;
    color: white;
    background: #127FE4;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.253);
    margin: auto;
}
.beranda a:hover {
    background-color: #127ee4ad;
}
/* End of Beranda */

/* Start Tentang */
.tentang {
    width: 100%;
    height: 800px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.60), rgba(255, 255, 255, 0.60)), url(GAMBAR/Cover\ jamur.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tentang .gambar img {
    width: 400px;
    height: 300px;
}
.tentang .logo {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.tentang .teks {
    display: flex;
    flex-direction: column;
}
.tentang p{
    font-size: 18px;
    text-align: justify;
    width: 516px;
    margin-bottom: 20px;
}
/* End of Tentang */

/* Start Produk */
.produk {
    width: 100%;
    height: 900px;
    background: linear-gradient(rgb(255, 255, 255), #68AEFF);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h3 {
    font-size: 36px;
    font-weight: 900;
    font-style: italic;
}
.produk img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 1px solid #2F80ED;
}
.produk .gambar {
    display: flex;
    flex-direction: column;
    margin: 50px;
}
.produk .gambar h4 {
    font-size: 28px;
    font-weight: 700;
    margin: auto;
    border-bottom: 3px solid black;
}
.produk .kategori {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
}
.produk p {
    font-size: 20px;
    width: 970px;
    text-align: justify;
    margin-bottom: 20px;
}
.produk a {
    padding: 6px 40px;
    border-radius: 15px;
    color: white;
    background: #127FE4;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.253);
    margin-left: auto;
    margin-right: auto;
}
.produk a:hover {
    background-color: #127ee4ad;
}
/* End of Produk */

/* Start Kelebihan */
.kelebihan {
    height: 1700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-image: linear-gradient(rgba(255, 255, 255, 0.60), rgba(255, 255, 255, 0.60)), url(GAMBAR/Cover\ jamur.jpg);
}
.kelebihan h3{
    margin-top: 40px;
    margin-bottom: 80px;
}
.kelebihan .baris {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}
.kelebihan .gambar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;
    margin: 0 200px;
}
.kelebihan .penjelasan {
    width: 530px;
    height: 120px;
    border: 5px solid black;
    display: flex;
    align-items: center;
}
.kelebihan .kiri {
    margin: 20px;
}
.kelebihan .kanan {
    display: flex;
    flex-direction: column;
}
.kelebihan .kanan h5{
    font-size: 20px;
    font-weight: 900;
}
.kelebihan .kanan p{
    font-size: 15px;
}
.kelebihan .penjelasan img {
    width: 70px;
    height: 70px;
    border: 5px solid black;
}
/* End of Kelebihan */

/* Start Kontak */
.kontak {
    height: 480px;
    background-color: #3F3F3F;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: white;
}
.kontak p {
    margin-bottom: 20px;
}
.kontak .logo {
    margin-left: 50px;
    margin-right: 50px;
}

.kontak .simbol .iconify{
    width: 53px;
    height: 53px;
    margin-right: 30px;
    color: #3F3F3F;
    background-color: white;
    border-radius: 50%;
}
footer {
    font-size: 18px;
    height: 125px;
    color: white;
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Start Pembelian */

.pembelian {
    background-color: #F4F3F3;
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pembelian .keranjang {
    padding: 6px 10px;
    border-radius: 10px;
    color: white;
    background: #127FE4;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.253);
    margin-left: auto;
    margin-right: 100px;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.pembelian .keranjang:hover{
    background-color: #127ee4ad;
}
.keranjang a  {
    color: #ffffff;
}
.manjang .barang img {
    width: 205px;
    height: 160px;
    border-radius: 20px 20px 0px 0px;
}
.manjang .barang {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: 15px;
    align-items: center;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.253);
    
}
.manjang .barang a {
    padding: 6px 60px;
    border-radius: 15px;
    color: white;
    background: #127FE4;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.253);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    
}
.manjang .barang a:hover {
    background:blue;
}
.manjang .barang p {
    font-weight: 900;
    font-size: 14px;

}
.manjang {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
/* End Pembelian */

/* Start Pembayaran */
.pembayaran {
    background-color: #F4F3F3;
    height: 580px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.pembayaran h1{
    font-size: 24px;
}
form {
    width: 550px;
    height: 330px;
    border-radius: 10px;

}
.keranjang {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.belanja img {
    width: 68px;
    height: 53px;
}
.belanja {
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    flex-direction: row;
    width: 407px;
    height: 483px;
    background-color: #E7E7E7;
}
.belanja .teks {
    display: flex;
    align-items: center;
    height: 50px;
}
.alamat {
    margin-top: 50px;
    width: 407px;
    height: 314px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: #E7E7E7;
    border-radius: 10px;
}
.alamat h1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.alamat .inputan {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.alamat input {
    width: 176px;
    border: none;
    margin-bottom: 5px;
}
.alamat select{
    width: 176px;
    border: none;
    margin-bottom: 5px;
}
.alamat textarea {
    width: 176px;
    height: 40px;
    border: none;
    margin-bottom: 5px;
}
.alamat  .left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.alamat  .right {
    display: flex;
    flex-direction: column;
}
.alamat button {
    background: #127FE4;
    color: white;
    font-size: 18px;
    padding: 5px 0px;
    width: 373px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.281);
    margin: 10px auto;
    display: flex;
    justify-content: center;
}
.rincian {
    display: flex;
    flex-direction: column;
    background-color:  #E7E7E7;
    margin-top: 50px;
    border-radius: 10px;
    height: 483px;
    width: 407px;
}
.rincian h1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.rincian img {
    width: 78px;
    height: 28px;
}
.rincian .kolom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 326px;
    height: 44px;
    background-color: white;
    margin: 0 auto 20px auto;
    border-radius: 10px;
}
.rincian .kolom p {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 700;
}
.rincian .kolombayar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 326px;
    height: 92px;
    background-color: white;
    margin: 5px auto 5px auto;
    border-radius: 10px;
}
.rincian .kiri {
    margin-left: 10px;
}   
.rincian .kanan {
    margin-right: 10px;
}
.rincian button {
    background: #127FE4;
    color: white;
    font-size: 18px;
    padding: 5px 0px;
    width: 326px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.281);
    margin: 10px auto;
    display: flex;
    justify-content: center;
}
.pembayaran button:hover {
    background-color: #127ee4ad;
}

@media (max-width: 550px){
    .navbar{
        height: 150px;
    }
    .navbar .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    nav.navbar .navigation a:not(:last-child) {
        margin: 0 10px;
        font-size: 14px;
    }
    button {
        font-size: 14px;
    }
    .navbutton{
        width: 90px;
        height: 30px;
    }
    .beranda{
        height: 1000px;
        flex-direction: column;
    }

    .beranda video{
        margin-top: 30px;
    }
    .tentang{
        height: 700px;
        flex-direction: column;
        order: -1;
    }
    .tentang .gambar{
        display: none;
    }
    .tentang p{
        width: 400px;
    }
    .produk .kategori{
        flex-direction: column;
    }
    .produk .gambar{
        margin: 10px;
    }
    .produk{
        height: 1500px;
    }
    .produk p{
        width: 400px;
    }
    .kelebihan{
        height: 1200px;
    }
    .kelebihan .baris{
        flex-direction: column;
    }
    .kelebihan .gambar{
        display: none;
    }
    .kelebihan h3{
        text-align: center;
    }
    .kelebihan .penjelasan{
        width: 400px;
    }
    .kontak{
        flex-direction: column;
    }
    .pembayaran{
        flex-direction: column;
        height: 1600px;
        align-items: center;
    }
    .pembelian{
        height: 1400px;
    }
    .manjang{
        flex-direction: column;
    }
    .stok {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .pembelian .keranjang {
        margin-left: 50px;
        margin-right: auto;
    }
}